Documentos/Queries/Example_ReceivedInvoice_2018_FC_XSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Locae:FC:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LOCAE-TECH">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Nif"/>
                            <xs:element type="xs:date" name="StartDate"/>
                            <xs:element type="xs:date" name="EndDate"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Docs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Doc" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="BELNR"/>
                                        <xs:element type="xs:string" name="GJAHR"/>
                                        <xs:element type="xs:string" name="BLART"/>
                                        <xs:element type="xs:date" name="BLDAT"/>
                                        <xs:element type="xs:date" name="BUDAT"/>
                                        <xs:element type="xs:date" name="CPUDT"/>
                                        <xs:element type="xs:string" name="NAME1"/>
                                        <xs:element type="xs:string" name="LFA1_STCEG"/>
                                        <xs:element type="xs:string" name="BUTXT"/>
                                        <xs:element type="xs:string" name="COMP_STCEG"/>
                                        <xs:element type="xs:string" name="STCD1"/>
                                        <xs:element type="xs:string" name="STCD2"/>
                                        <xs:element type="xs:string" name="LAND1"/>
                                        <xs:element type="xs:string" name="XBLNR"/>
                                        <xs:element type="xs:string" name="TCODE"/>
                                        <xs:element type="xs:string" name="BKTXT"/>
                                        <xs:element type="xs:string" name="EGBLD"/>
                                        <xs:element type="xs:string" name="STCEG"/>
                                        <xs:element name="Lines">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Line" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="BELNR"/>
                                                                <xs:element type="xs:string" name="GJAHR"/>
                                                                <xs:element type="xs:string" name="BUZEI"/>
                                                                <xs:element type="xs:string" name="MWSKZ"/>
                                                                <xs:element type="xs:float" name="RMWWR"/>
                                                                <xs:element type="xs:float" name="MSATZ"/>
                                                                <xs:element type="xs:float" name="WMWST"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>